<footer>
    <div class="flex-footer">
        <p>Made by El &#10024</p>
        <a href="https://github.com/ElBrewster" aria-label="Go to El's github page" class="link-footer" >Github</a>
        <a href="https://www.linkedin.com/in/el-brewster/" aria-label="Go to El's linked-in page" class="link-footer" >LinkedIn</a>
    </div>
</footer>