<nav class="form-nav">
    <form action="/search" method="post">
        <div>
            <label for="rover-selection">Select Rover:&nbsp;</label>
            <select id="rover-selection" id="">
                <option value="curiosity">Curiosity</option>
                <option value="opportunity">Opportunity</option>
                <option value="perseverance">Perseverance</option>
                <option value="spirit">Spirit</option>
            </select>
        </div>
        <div>
            <label for="sol-date">Enter Sol Date:&nbsp;</label>
            <input type="text" placeholder="Sol Date" id="sol-date">
        </div>
        <input type="submit">
    </form>
</nav>