<nav class="form-nav">
    <form action="/search" method="post">
        <label for="rover-selection">Select Rover: </label>
        <select id="rover-selection" id="">
            <option value="curiosity">Curiosity</option>
            <option value="opportunity">Opportunity</option>
            <option value="perseverance">Perseverance</option>
            <option value="spirit">Spirit</option>
        </select>
        <label for="sol-date">Enter Sol Date: </label>
        <input type="text" placeholder="Sol Date" id="sol-date">
        <input type="submit">
    </form>
</nav>