

# Dependency directories
/node_modules
/data

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm


# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env


# Stores VSCode versions used for testing VSCode extensions
.vscode-test

