*,
*::before,
*::after {
  box-sizing: border-box; 
}

body, 
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

svg,
img,
picture {
  align-self: center;
  display: block;
  max-width: 100%;
}

input, 
button,
textarea,
select {
  font: inherit;
}

body {
  background-color: #0A0A0A;
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  font-family: 'REM', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

header {
  min-width: 100vw;
  text-align: center;
}

a {
  color: silver;
  text-decoration: none;
}

.app-title{
  text-transform: none;
} 

/* ---------------nav bar styling------------------ */
nav {
  display: flex;
}

ul {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  padding: 1rem;
}

li {
  background-color: #fffff8;
  border: 2px solid #929385;
  border-radius: .2rem;
  list-style: none;
}

li:hover {
  background-color: #fcd2a0;
  border: 2px solid white;
  color: rgb(51, 51, 51);
}

.nav-header {
  align-self: center;
  font-size: 1rem;
  font-style: italic;
  padding: 0 0 0 1rem;
}
/* ^ this needs to be a bright color or it will blend into the page  */

.nav-a {
  color: #735943;
  padding: .25rem .75rem;
  text-transform: uppercase;
}

.nav-a:visited {
  color: #516268;
}

li > a:hover {
  color: rgb(51, 51, 51);
}
/* ------------------------------------------------ */

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 100vw;
  padding: .5rem;
}

h2 {
  font-weight: 400;  
  padding-bottom: 1rem;
}

section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
}

article {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 1rem;
}

/* .snapshot-article {
  min-width: 20rem;
} */

.image-container {
  background-color: #0A0A0A;
  width: 166px;
  min-height: 184px;
}

.span-h3 {
  font-size: .8em;
}

footer {
  display: flex;
  min-width: 100vw;
  padding: .5rem;
  text-align: center;
}

.flex-footer {
  display: flex;
  justify-content: space-evenly;
  min-width: 30vw;
}

a.link-footer:hover {
  color: #fcd2a0;
}

/* Media Queries ---------------------------------------- */
/* 4k screens 3840(2160): */
@media (min-width: 3840px) {}

/* combined 1536px <= width <= 1919px and 1920px <= width <= 3839px:  */
@media (1536px <= width <= 3839px) {


}

@media (1024px <= width <= 1535px) {


}

@media (768px <= width <= 1023px) {


}

@media (600px <= width <= 767px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  ul {
    padding: .5rem;
  }
  main > h2 {
    font-size: x-large;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }
  nav {
    display: flex;
    flex-direction: column;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
  }
  li {
    margin: .25rem;
  }
  main > h2 {
    font-size: 1.2rem;
  }
}

@media (460px <= width <= 560px) {
  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;    
    padding: .25rem;
  }
/* TODO: need to fix dangling "spirit" link so that it's 2 links per row in the nav */
}

@media (max-width: 460px) {
  h1 {
    font-size: 1.6rem;
  }
  main > h2 {
    font-size: 1rem;
  }
}

@media (max-width: 370px) {
  h1 {
    font-size: 1.3rem;
  }
  main > h2 {
    font-size: .9rem;
  }
}

@media (max-width: 300px) {
  ul {
    align-items: center;
    display: flex;
    flex-direction: column;    
    padding: .25rem;
  }
  li {
    margin: .25rem;
  }
}