*,
*::before,
*::after {
  box-sizing: border-box; 
}

body, 
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

svg,
img,
picture {
  align-self: center;
  display: block;
  max-width: 100%;
}

input, 
button,
textarea,
select {
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  background-color: #0A0A0A;
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  font-family: 'REM', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

header {
  min-width: 100vw;
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 100vw;
}

footer {
  display: flex;
  min-width: 100vw;
  text-align: center;
}

section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

article {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 1rem;
}

.image-container {
  background-color: #0A0A0A;
  min-width: 166px;
  min-height: 166px;
}