<!DOCTYPE html>
<html>
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <section>
        <% parsedData3.forEach((picture) => { %>
          <%- include("../partials/image-container.ejs", {picture}) %>
        <% }); %>
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>