<!DOCTYPE html>
<html>
  <%- include("../partials/head.ejs") %>
  <body>
    <header>
        <h1>Photo #{} </h1>
    </header>
    <main>
        <p>Taken on sol #{}, earth date: earth_date</p>
        <p>camera.full_name <span>nickname "camera.name"</span></p>
        <a href="img_src">Link to full-size photograph</a>
        <h3>Rover Manifest</h3>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>